doctype html
html
  head
    title Kalkulator
    link(rel="stylesheet" type="text/css" href="assets/css/style.min.css")
    //if lt IE 7
    //- link(rel="stylesheet" type="text/css" href="all-ie-only.css")

  body#app

    header.container
        h1 Kalkulator

    section.wrapper
      #calc.calc
        .grid-x.grid-margin-x
          .cell.small-3
            .switch
              input.switch-input.disabled#currencySwitch(type="checkbox" name="currencySwitch" disabled='disabled')
              label.switch-paddle(for="currencySwitch")
              span.show-for-sr currency
        .grid-x.grid-margin-x
          .cell.small-10.js-slider
            button.button.js-btn(data-value="0") -
            .slider(data-slider data-start="300" data-end="50000" data-initial-start="4000" data-step="100" data-labe="")
              span.slider-handle(data-slider-handle role="slider" tabindex="1" data-controls="grossInvoice")
              span.slider-fill(data-slider-fill)
              input(type="hidden" id="grossInvoice")
            button.button.js-btn(data-value="1") +
          .cell.small-2
            input(type="number" id="grossInvoiceOutput" data-binding="grossInvoice")
          .cell.small-10.js-slider
            button.button.js-btn(data-value="0") -
            .slider(data-slider data-start="7" data-end="90" data-initial-start="14" data-step="1" data-labe="")
              span.slider-handle(data-slider-handle role="slider" tabindex="1" aria-controls="paymentDeadline")
              span.slider-fill(data-slider-fill)
              input(type="hidden" id="paymentDeadline")
            button.button.js-btn(data-value="1") +
          .cell.small-2
            input(type="number" id="paymentDeadlineOutput" data-binding="paymentDeadline")
          .cell.small-12
            #totalCost



  script(src="https://code.jquery.com/jquery-3.3.1.min.js"  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/what-input/5.1.3/what-input.min.js")
  script(src="https://cdn.jsdelivr.net/npm/foundation-sites@6.5.1/dist/js/foundation.min.js" integrity="sha256-WUKHnLrIrx8dew//IpSEmPN/NT3DGAEmIePQYIEJLLs= sha384-53StQWuVbn6figscdDC3xV00aYCPEz3srBdV/QGSXw3f19og3Tq2wTRe0vJqRTEO sha512-X9O+2f1ty1rzBJOC8AXBnuNUdyJg0m8xMKmbt9I3Vu/UOWmSg5zG+dtnje4wAZrKtkopz/PEDClHZ1LXx5IeOw==" crossorigin="anonymous")
  script(src="assets/js/app.min.js")