
link(rel="stylesheet" type="text/css" href="assets/css/style.min.css")
#app
  section.grid-container
    #calc.calc
      .grid-x.grid-margin-x
        .cell.small-12.large-6
          .grid-x.grid-margin-x
            .cell.calc__switch-wrapper
              .switch.calc__switch.calc__switch_slider
                .slider.noSlick.calc__slider.js-slider-switch.disabled(data-slider data-start="0" data-end="1" data-initial-start="0" data-step="1" data-changed-delay="0" data-label="")
                  span.slider-handle(data-slider-handle role="slider" tabindex="1" aria-controls="switchCurrency")
                  span.slider-fill(data-slider-fill)
                  input(type="hidden" id="switchCurrency" disabled)
                  .calc__slider-label-wrapper
                    span.label-left.js-label-left PLN
                    span.label-right.js-label-right EURO
              .calc__slider-title Kwota faktury brutto
            .cell.small-12.large-9.calc__slider-wrapper.js-slider
              button.button.calc__slider-btn.js-btn(data-value="0") -
              .slider.noSlick.calc__slider(data-slider data-start="300" data-end="50000" data-initial-start="4000" data-step="100" data-changed-delay="0" data-label="PLN")
                span.slider-handle(data-slider-handle role="slider" tabindex="1" data-controls="grossInvoice")
                span.slider-fill(data-slider-fill)
                input(type="hidden" id="grossInvoice")
                .calc__slider-label-wrapper
                  span.label-left.js-label-left
                  span.label-right.js-label-right
              button.button.calc__slider-btn.js-btn(data-value="1") +
            .cell.small-12.large-3
              input.calc__slider-input(type="number" id="grossInvoiceOutput" data-binding="grossInvoice" step="100")
              label.calc__slider-input-label.js-label
            .cell
              .calc__slider-title Termin płatnośi FV
            .cell.small-12.large-9.calc__slider-wrapper.js-slider
              button.button.calc__slider-btn.js-btn(data-value="0") -
              .slider.noSlick.calc__slider(data-slider data-start="7" data-end="90" data-initial-start="14" data-step="1" data-changed-delay="0" data-label="dni")
                span.slider-handle(data-slider-handle role="slider" tabindex="1" aria-controls="paymentDeadline")
                span.slider-fill(data-slider-fill)
                input(type="hidden" id="paymentDeadline")
                .calc__slider-label-wrapper
                  span.label-left.js-label-left
                  span.label-right.js-label-right
              button.button.calc__slider-btn.js-btn(data-value="1") +
            .cell.small-12.large-3
              input.calc__slider-input(type="number" id="paymentDeadlineOutput" data-binding="paymentDeadline" step="1")
              label.calc__slider-input-label.js-label
            .cell.small-12
              .cell
                .calc__slider-title Całkowity koszt:&nbsp;
                  span#totalCost
                  |  netto
        .cell.small-12.large-6.calc__right
          ul.calc__list
            li Wypłacamy
              strong  100%
              |  wartości faktury brutto.
            li Windykacja
              strong  0 zł.
            li Monitoring płatności
              strong  0 zł.
          a.button.calc__btn_send(href="/lp/cash-flow/" target="_blank")
            span Wyślij FV do sfinansowania


      .grid-x.grid-margin-x
        .cell.small-12
          span.calc__description Kalkulator przedstawia przybliżony koszt sfinansowania faktury. Dokładna kwota zostanie wyliczona na podstawie przesłanej faktury.

script(src="assets/js/app.min.js")